body {
    background-color: green;
}


main {
    background-color: pink;
    height: 100px;
    padding: 4vw;
    /* display:flex; */
}


button {
    border-radius: 100%;
    height: 50px;
}

button:hover {
    background-color: red;
}

p {
    background-color: rebeccapurple;
     padding: 4vw;
     color: white;
     font-size: 36px;
}

a {
    color: royalblue

}

a:hover {
    color: yellow;
}